@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Raleway';
    box-sizing: border-box;
    color: #f4f4f4;
}


h2{
    font-size: 1.75rem;
}

a,li{
    text-decoration: none;
    list-style: none;
}

#title{
    color: #eb6e4b;
    margin: 0;
}

/* Reset some default browser styles */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Style the navigation bar */
#navbar {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Style the main content section */
#main-content {
    margin: 20px auto;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the location input form */
#locationInput {
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}


/* Style the current weather section */


/* Style the footer */
#footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* Responsive styling for smaller screens */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}