@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Raleway';
    box-sizing: border-box;
    color: #f4f4f4;
}

body{
    background-color: #ddd;
}

h2{
    font-size: 1.75rem;
}

a,li{
    text-decoration: none;
    list-style: none;
}

.container{
    width: 80%;
    margin: auto;
}

#title{
    color: #eb6e4b;
}